<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
            <div class="container">
                <a class="navbar-brand text-light" href="/">
                    <i class="fas fa-store"></i> Tienda
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-light px-3" href="/">
                                <i class="fas fa-home"></i> Inicio
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light px-3" href="/">
                                <i class="fas fa-box-open"></i> Productos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light px-3" href="/">
                                <i class="fas fa-shopping-cart"></i> Carrito
                            </a>
                        </li>
                        <li class="nav-item">
                            <form class="revertir" action="/api/logout" method="POST">
                                <button class="nav-link text-light px-3 revertir" type="submit">
                                    <i class="fa-solid fa-user"></i> Cerrar Sesion
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <h1 class="texto-index">Bienvenido {{user.first_name}} {{user.last_name}}</h1>
            <p class="texto-index">Pagina principal solo para usuarios registrados.</p>
        </div>

    </main>

    <footer class="bg-dark text-light py-4 mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-uppercase">Tienda</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad at maxime ullam nostrum earum amet
                        dolorem, labore animi voluptas doloribus.</p>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <h5 class="text-uppercase">Enlaces Utiles</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="texto">Inicio</a></li>
                        <li><a href="/" class="texto">Productos</a></li>
                        <li><a href="/" class="texto">Carrito</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <h5 class="text-uppercase">Contacto</h5>
                    <p>Email: contacto@gmail.com</p>
                    <p>Telefono: +54 123456</p>
                    <div class="social">
                        <a href="https://www.facebook.com" target="_blank" class="text-light me-3"><i
                                class="fab fa-facebook"></i></a>
                        <a href="https://x.com" target="_blank" class="text-light me-3"><i
                                class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com" target="_blank" class="text-light"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <p>Tienda 2024 &copy; Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>


    {{!-- JS de BOOTSTRAP --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    {{!-- SweetAlert2 --}}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>