<h1 class="hola">Inicio de sesion</h1>
<form action="/api/login" method="POST">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="password">Contraseña:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <input type="submit" value="Iniciar sesión">
</form>


<p>¿No tienes cuenta? <a href="/register">Registrate</a></p>
<p>¿Olvidaste la contraseña? <a href="/restore-password">Restaurar contraseña</a></p>