 <h1>Restaurar contrase単a</h1>

<form action="/api/restore-password" method="POST">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="newPassword">Nueva contrase単a:</label><br>
    <input type="password" id="newPassword" name="newPassword" required><br><br>
    <input type="submit" value="Restaurar contrase単a">
</form>

<p>多Ya tienes cuenta? <a href="/login">Inicia sesion</a></p>