@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Kanit&display=swap');

/* BODY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', 'Kanit', sans-serif, cursive;
}

body {
    background-image: url('/img/fondo_comida_edit.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

/* FORMULARIO */
.container {
    margin: auto;
    width: 50%;
    padding: 10px;
}


form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5%;
    background: white;
}

input[type="email"], input[type="password"], input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
}

.revertir {
    all: revert;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* TEXTO */
.texto-index{
    text-align: center;
}

h2 {
    text-transform: uppercase;
}


/* FOOTER */
footer {
    margin-top: auto;
}

.texto {
   color: white;
    text-decoration: none;
}

.texto:hover {
    color: rgb(141, 141, 141);
    text-decoration: underline;
}

footer h5 {
    margin-bottom: 20px;
}

footer .social i {
    font-size: 3.5rem;
}

.fa-facebook:hover {
    color: rgb(66, 103, 178);
}

.fa-twitter:hover {
    color: rgb(29, 161, 242);
}

.fa-instagram:hover {
    background: linear-gradient(45deg, 
        rgba(131, 58, 180, 1) 0%,
        rgba(225, 48, 108, 1) 25%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 175, 69, 1) 75%,
        rgba(88, 81, 219, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid rgb(0, 191, 255);
    color: rgb(0, 191, 255);
    border-radius: 4px;
}

.pagination a.active {
    background-color: rgb(0, 191, 255);
    color: white;
}